/* TODO: 
 *
 * shorten bullet line spacing ~ 1rem?
 * move upper right text to be aligned to baseline and not ceiling
 * shorten spacing between project title and description
 *
 *
 */
body{
  display: flex;
  flex-flow: column nowrap;
  font-size: 10pt;
  line-height: 1.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 8in;

  font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.8;

  /*min-height: 100vh;*/
  /*overflow-x: hidden;*/
  margin: 0 auto;

  color: #4b4b4b;

  text-rendering: optimizeLegibility;
}

.title, .subtitle {
  text-align: center;
  color: #000;
}

.title {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 3.25rem;
}

.subtitle {
  margin: 0.5rem 0 1rem 0;
}

.main {
  flex-flow: row-reverse nowrap;
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 70%;
}

.sidebar {
  width: 28%;
}

h2 {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.2rem;
  margin: 0 0 0 0;
}

h4 {
  font-size: 0.9rem;
  margin-top: 2rem;
  color: #1b1b1b;
}

p {
  margin: 0;
  line-height: 0.9rem;
}

.subsection-content {
  line-height: 1rem;
}

.subsection h4 {
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.subsection-subtitle {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1rem;
  line-height: 1rem;
  margin: 0 0 0 0;
}

li {
  text-align: justify;
  list-style-type: none;
  position: relative;
}

li::before {
  content: "\25CF";
  position: absolute;
  left: -0.8rem;
  font-size: 0.6rem; 
}

.main-content li:not(:last-child) {
  padding-bottom: 0.5rem;
}

.experience > .aligned > div {
  font-style: italic;
}

@page {
  margin: 0.5in 1in 0.5in 1in;
}

.pageBreak {
  break-inside: avoid;
}
